@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fredoka+One&display=swap');
:root{
    --mainColor: #31525b;
    --mainColoryellow: #ffa101;
    --darkcolor: #191414;
    --lightblue: #b3dee5; 
    --font2: 'Fredoka One', cursive;
    --font3: 'Bebas Neue', cursive;
}
.textmaincolor{
    color: var(--mainColor);
}
.bgmaincolor{
    background-color: var(--mainColor);
}
.textdarkcolor{
    color: var(--darkcolor);
}
.bgdarkcolor{
    background-color: var(--darkcolor);
}
.textmaincoloryellow{
    color: var(--mainColoryellow);
}
.bgmaincoloryellow{
    background-color: var(--mainColoryellow);
}
.btntype2{
    border: 1px solid #ffa101;
}
.lightblue{
    color: var(--lightblue);
}
.bglightblue{
    background-color: var(--lightblue);
}
.myfont{
    font-family: var(--font2);
}
.myfont3{
    font-family: var(--font3);
}

body{
    background-color: #1e3338;
}
.allgames{
    border-left: 4px solid #ffa101;
}
.gamecard{
    border-radius: 30px;
}
.gamecard img{
    border-radius: 20px;
}
.btngogame:hover{
    background-color: #b6780d;
}
.btngogame:after{
    background-color: #b6780d;
}
.btngogame:before{
    background-color: #b6780d;
}

.mygmail{
    position: absolute;
    padding-top: 11px;
    padding-bottom: 13px;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid white;
}
.uselink{
    /* position: absolute;
    left: -4px; */
    /* right: 0; */
    /* padding-top: 11px; */
    /* padding-bottom: 13px; */
    /* padding: 5px; */

}
.button50{
    transition: all 1s;
    cursor: pointer;
    background-image: radial-gradient( circle 759px at -6.7% 50%, rgb(73, 113, 131) 0%, rgb(131, 181, 209) 26.2%, rgb(170, 207, 231) 50.6%, rgb(135, 184, 213)74.1%, rgb(69, 111, 118) 100.3% );
}
.button50:hover{
    transition: all 1s;
    transform: scale(1.2);
    width: 800px;
}